<!DOCTYPE html>
<html>

<head>

    <title>ClassMind AI</title>

</head>

<body>

    <h1>ClassMind AI Attendance</h1>

    <form action="/start" method="POST">

        <label>Subject</label>

        <br>

        <input
            type="text"
            name="subject"
            required>

        <br><br>

        <label>Classroom</label>

        <br>

        <input
            type="text"
            name="classroom"
            required>

        <br><br>

        <label>Duration (seconds)</label>

        <br>

        <input
            type="number"
            name="duration"
            value="20">

        <br><br>

        <button type="submit">

            Start Attendance

        </button>

    </form>

</body>

</html>